.contacts {
    margin-bottom: 120px;
}

.contacts__title {
    margin-bottom: 75px;
    color: #121212;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.contacts__container {
    display: flex;
    justify-content: space-between;
    width: 86%;
}

.contact__phone {
    margin-bottom: 30px;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.0px;
}

.contact__text {
    position: relative;
    color: var(--Text, #121212);
    text-decoration: none;
}

.phone:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 95px;
    left: -3px;
    background-image: url('../image/ic_outline-phone-iphone.svg');
    width: 24px;
    height: 24px;
}

.contact__email {
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -1.8px;
}

.email {
    margin-bottom: 10px;
    color: silver;
}

.email::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 95px;
    left: -3px;
    background-image: url('../image/material-symbols_mail-outline-rounded.svg');
    width: 24px;
    height: 24px;
    opacity: 1;
}

.contact__line {
    width: 410px;
    height: 2px;
    opacity: 0.5;
    background: var(--Text, #121212);
}

@media (max-width: 1100px) {
    .contacts__container {
        width: 100%;
    }
}

@media (max-width: 961px) {
    .contacts {
        margin-bottom: 50px;
    }

    .contacts__container {
        width: 84%;
    }

    .contact__phone {
        font-size: 46px;
    }

    .phone:before {
        bottom: 85px;
        left: -4px;
    }

    .contact__email {
        font-size: 46px;
    }

    .email::before {
        bottom: 85px;
        left: -4px;
    }

    .contact__line {
        height: 1px;
        width: 100%;
    }
}

@media (max-width: 850px) {
    .contacts__container {
        width: 100%;
    }
}

@media (max-width: 750px) {
    .contact__phone {
        margin-bottom: 70px;
    }

    .contacts__container {
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .contacts {
        margin-bottom: 125px;
    }

    .contacts__title {
        margin-bottom: 90px;
        font-size: 22px;
    }

    .contacts__container {
        flex-direction: column;
    }

    .contact__phone {
        margin-bottom: 95px;
        font-size: 60px;
        letter-spacing: -4.8px;
    }

    .phone:before {
        bottom: 110px;
        left: -1px;
    }

    .contact__email {
        font-size: 59px;
        letter-spacing: -4.8px;
    }

    .email::before {
        bottom: 105px;
        left: 4px;
    }

    .contact__line {
        width: 80%;
    }
}