.footer {
    padding: 57px;
    width: 100%;
    background-color: var(--Text, #121212);
}

.footer__container {
    margin: 0 auto;
    width: 455px;
    display: flex;
    justify-content: space-between;
}

.footer__btn {
    margin-bottom: 88px;
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__btn:hover {
    opacity: 0.5;
}

.footer__text {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
}

@media (max-width: 575px) {
    .footer {
        padding: 44px;
    }

    .footer__container {
        width: 400px;
    }

    .footer__btn {
        margin-bottom: 60px;
    }

    .footer__text {
        letter-spacing: -1.4px;
    }
}