.footer {
    padding: 60px;
    width: 100%;
    background-color: var(--Text, #121212);
}

.footer__container {
    margin: 0 auto;
    margin-bottom: 90px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer__btn {
    color: #FFF;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer__btn:hover {
    opacity: 0.5;
}

.footer__text {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    line-height: normal;
    letter-spacing: -0.6px;
    opacity: 0.5;
}

@media (max-width: 700px) {
    .footer__container {
        gap: 40px;
    }
}

@media (max-width: 575px) {
    .footer {
        padding: 30px 0;
    }

    .footer__container {
        margin-bottom: 40px;
        max-width: 375px;
        gap: 30px;
    }

    .footer__btn {
        font-size: 12px;
        letter-spacing: -0.36px;
    }

    .footer__text {
        font-size: 13px;
        letter-spacing: -0.39px;
    }
}