.gallery {
    margin-bottom: 145px;
    width: 100%;
    height: 717px;
    position: relative;
    color: #FFF;
}

.gallery__text {
    position: absolute;
    top: 70px;
    z-index: 1;
    font-size: 22px;
    letter-spacing: -0.66px;
    text-transform: uppercase;
}

.gallery__buttons {
    z-index: 2;
    position: absolute;
    top: 514px;
    display: flex;
    justify-content: space-between;
    width: 7%;
}

.gallery__button-prev,
.gallery__button-next {
    background: url('../image/button-left.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.gallery__button-next {
    transform: rotate(180deg);
}

.gallery__container {
    width: 100%;
    height: 100%;
    display: none;
    background: #121212;
}

.gallery__container-active {
    display: block;
}

.gallery__img {
    width: 100%;
    height: 717px;
    opacity: 0.7;
    object-fit: fill;
}

.gallery__title {
    position: absolute;
    bottom: 62px;
    max-width: 443px;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: normal;
}

.lighthouse {
    bottom: 100px;
}

@media (max-width: 961px) {
    .gallery {
        margin-bottom: 115px;
        height: 536px;
    }

    .gallery__text {
        top: 83px;
        left: 54px;
        font-size: 18px;
        letter-spacing: 0.5px;
    }

    .gallery__buttons {
        top: 345px;
        left: 44px;
        width: 10%;
    }

    .gallery__container {
        height: 536px;
    }

    .gallery__img {
        height: 536px;
    }

    .gallery__title {
        max-width: 377px;
        bottom: 75px;
        left: 50px;
        font-size: 26px;
    }
}

@media (max-width: 885px) {
    .gallery__buttons {
        top: 345px;

    }
}

@media (max-width: 575px) {
    .gallery {
        margin-bottom: 195px;
        background-position: 45%;
    }

    .gallery__text {
        top: 95px;
        left: 15px;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .gallery__buttons {
        top: 53%;
        left: 0;
        width: 100%;
    }

    .gallery__container {
        height: 610px;
    }

    .gallery__img {
        height: 610px;
    }

    .gallery__title {
        left: 15px;
        bottom: 85px;
        font-size: 30px;
        letter-spacing: -1.7px;
    }
}