.section__gallery {
    padding: 0;
    width: 100%;
}

.gallery {
    margin-bottom: 140px;
    width: 100%;
    height: 717px;
    position: relative;
    color: #FFF;
}

.gallery__text {
    position: absolute;
    top: 60px;
    left: 145px;
    z-index: 1;
    font-size: 22px;
    letter-spacing: -0.66px;
    text-transform: uppercase;
}

.gallery__buttons {
    z-index: 2;
    position: absolute;
    top: 514px;
    left: 140px;
    display: flex;
    justify-content: space-between;
    width: 6%;
}

.gallery__button-prev,
.gallery__button-next {
    background: url('../image/button-left.svg');
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.gallery__button-next {
    transform: rotate(180deg);
}

.gallery__container {
    width: 100%;
    height: 100%;
    display: none;
    background: #121212;
    /* position: absolute; */
}

.gallery__container-active {
    display: block;
}

.gallery__img {
    /* position: absolute; */
    width: 100%;
    height: 717px;
    opacity: 0.6;
    object-fit: fill;
}

.gallery__title {
    position: absolute;
    left: 145px;
    bottom: 62px;
    width: 443px;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: normal;
}

@media (max-width: 961px) {
    .gallery {
        margin-bottom: 115px;
        height: 536px;
    }

    .gallery__container {
        height: 536px;
    }

    .gallery__span {
        top: 83px;
        left: 54px;
        font-size: 18px;
        letter-spacing: 0.5px;
    }

    .gallery__title {
        bottom: 75px;
        left: 50px;
        width: 40%;
        font-size: 26px;
    }

    .gallery__buttons {
        top: 345px;
        left: 44px;
        width: 10%;
    }

    .gallery__forest {
        height: 536px;
    }

    .gallery__lighthouse {
        height: 536px;
    }

    .gallery__house {
        height: 536px;
    }

    .gallery__northern {
        height: 536px;
    }
}

@media (max-width: 884px) {
    .gallery__title {
        width: 45%;
    }
}

@media (max-width: 785px) {
    .gallery__title {
        width: 49%;
    }
}

@media (max-width: 721px) {
    .gallery__title {
        width: 53%;
    }
}

@media (max-width: 666px) {
    .gallery__title {
        width: 58%;
    }
}

@media (max-width: 610px) {
    .gallery__title {
        width: 63%;
    }
}

@media (max-width: 575px) {
    .gallery {
        margin-bottom: 195px;
        background-position: 45%;
    }

    .gallery__container {
        height: 610px;
    }

    .gallery__span {
        top: 95px;
        left: 15px;
        font-size: 20px;
        letter-spacing: 0px;
    }

    .gallery__title {
        left: 15px;
        bottom: 85px;
        width: 410px;
        font-size: 30px;
        letter-spacing: -1.7px;
    }

    .gallery__buttons {
        top: 53%;
        left: 0;
        width: 100%;
    }

    .gallery__forest {
        height: 610px;
    }

    .gallery__lighthouse {
        height: 610px;
    }

    .gallery__house {
        height: 610px;
    }

    .gallery__northern {
        height: 610px;
    }
}