@import "navigation.css";
@import "interior.css";
@import "about.css";
@import "projects.css";
@import "service.css";
@import "reviews.css";
@import "gallery.css";
@import "contacts.css";
@import "footer.css";

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope', sans-serif;
    width: 100%;
    background: #FFFFFF;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0 15px;
}

.gallery {
    margin-bottom: 150px;
    height: 717px;
    position: relative;
}

.gallery__container {
    width: 100%;
    display: none;
    position: absolute;
    color: #FFF;
}

.gallery__container-active {
    display: block;
}

.gallery__span {
    position: absolute;
    top: 60px;
    left: 145px;
    font-size: 22px;
    letter-spacing: -0.66px;
    text-transform: uppercase;
}

.gallery__title {
    position: absolute;
    left: 150px;
    bottom: 60px;
    width: 443px;
    font-size: 30px;
    letter-spacing: -0.9px;
    line-height: normal;
}

.gallery__buttons {
    z-index: 1;
    position: absolute;
    top: 514px;
    left: 140px;
    display: flex;
    font-size: 70px;
    color: #FFF;
}

.gallery__button-prev {
    background: url('../image/button-left.svg');
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.gallery__button-next {
    background: url('../image/button-right.svg');
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.gallery__forest {
    height: 717px;
    background-image: url("../image/project.png");
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__lighthouse {
    height: 717px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        url('../image/gallery-two.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__house {
    height: 717px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        url('../image/gallery-three.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.gallery__northern {
    height: 717px;
    background:
        linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)),
        url('../image/gallery-four.png');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 961px) {
    .container {
        width: 100%;
        padding-left: 17px;
        padding-right: 15px;
    }

    .decor {
        margin-bottom: 115px;
    }

    .decor__box {
        height: 536px;
    }

    .decor__title {
        bottom: 80px;
        left: 35px;
        width: 40%;
        font-size: 26px;
    }
}

@media (max-width: 575px) {
    .container {
        padding-left: 13px;
        padding-right: 12px;
    }

    .decor {
        margin-bottom: 120px;
        background-position: 45%;
    }

    .decor__box {
        height: 610px;
    }

    .decor__title {
        left: 4px;
        bottom: 89px;
        width: 410px;
        font-size: 30px;
        letter-spacing: -1.7px;
    }
}