.reviews {
    margin-bottom: 120px;
    color: #121212;
}

.reviews__title {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.reviews__container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.reviews__box {
    margin-bottom: 30px;
    width: calc(47% - 10px);
}

.reviews__box:last-child {
    flex: none;
    width: 75%;
}

.reviews__name {
    margin-bottom: 15px;
    font-size: 45px;
    line-height: normal;
    letter-spacing: -1.35px;
}

.reviews__text {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

.reviews__text-dop {
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

@media (max-width: 961px) {
    .reviews {
        margin-bottom: 85px;
    }

    .reviews__title {
        margin-bottom: 30px;
    }

    .reviews__container {
        gap: 20px;
    }

    .reviews__box {
        width: calc(50% - 15px);
    }

    .reviews__name {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .reviews__text {
        font-size: 20px;
    }

    .reviews__text-dop {
        font-size: 20px;
    }
}

@media (max-width: 575px) {
    .reviews {
        margin-bottom: 50px;
    }

    .reviews__title {
        margin-bottom: 20px;
        font-size: 14px;
        letter-spacing: -0.42px;
    }

    .reviews__container {
        flex-direction: column;
        gap: 45px;
    }

    .reviews__box {
        width: 100%;
    }

    .reviews__name {
        margin-bottom: 10px;
        font-size: 25px;
        letter-spacing: -0.75px;
    }

    .reviews__text {
        margin-bottom: 23px;
        max-width: 350px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .reviews__text-dop {
        max-width: 350px;
        font-size: 16px;
        letter-spacing: -0.48px;
    }

    .reviews__box:last-child {
        width: 95%;
    }
}