.reviews {
    margin-bottom: 130px;
}

.reviews__title {
    margin-bottom: 25px;
    color: #121212;
    font-size: 18px;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
}

.reviews__container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.reviews__box {
    margin-bottom: 30px;
    width: calc(47% - 10px);
}

.reviews__box:last-child {
    flex: none;
    width: 75%;
    color: #000;
}

.reviews__name {
    margin-bottom: 15px;
    font-size: 45px;
    line-height: normal;
    letter-spacing: -1.35px;
}

.reviews__text {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

.reviews__span {
    font-size: 22px;
    line-height: normal;
    letter-spacing: -0.66px;
}

@media (max-width: 961px) {
    .reviews {
        margin-bottom: 90px;
    }

    .reviews__title {
        margin-bottom: 30px;
    }

    .reviews__container {
        gap: 20px;
    }

    .reviews__box {
        width: calc(50% - 15px);
    }

    .reviews__name {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .reviews__text {
        font-size: 20px;
        line-height: initial;
    }

    .reviews__span {
        font-size: 20px;
        line-height: initial;
    }
}

@media (max-width: 575px) {
    .reviews {
        margin-bottom: 95px;
    }

    .reviews__title {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .reviews__container {
        flex-direction: column;
        gap: 85px;
    }

    .reviews__box {
        width: 100%;
    }

    .reviews__name {
        margin-bottom: 15px;
        font-size: 38px;
    }

    .reviews__text {
        font-size: 24px;
    }

    .reviews__span {
        font-size: 24px;
    }

    .reviews__box:last-child {
        width: 95%;
    }
}